<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lotus Su</title>

    {{>admin_links}} 
    <style type="text/css">
      span.star-checked {
        color: orange;
      }
    </style>
  </head>

  <body class="nav-md">

    <input id="tab" value="{{tab}}" hidden></input>
    <input id="selection" value="{{selection}}" hidden></input>

    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            {{>admin_top_menu}} 
            <br/>
            {{>admin_side_menu}} 
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                  <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <a href="javascript:;" class="user-profile" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    Su Yamin Htut
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Add New Item</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 ">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Inserting New Item <small>Click Submit after editing</small></h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <br />
                  <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="item form-group">
                      <label class="col-form-label col-md-3 col-sm-3 label-align" for="item-name">Item Name <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="item-name" required="required" class="form-control ">
                      </div>
                    </div>

                    <div class="item form-group">
                      <label class="col-form-label col-md-3 col-sm-3 label-align" for="item-rating">Rating
                      </label>
                      <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="item-rating" required="required" class="form-control" hidden>
                        <div style="vertical-align: middle; padding-top: 4px;">
                          <span id="star1" class="fa fa-star fa-2x" onclick="addingStar(1)"></span>
                          <span id="star2" class="fa fa-star fa-2x" onclick="addingStar(2)"></span>
                          <span id="star3" class="fa fa-star fa-2x" onclick="addingStar(3)"></span>
                          <span id="star4" class="fa fa-star fa-2x" onclick="addingStar(4)"></span>
                          <span id="star5" class="fa fa-star fa-2x" onclick="addingStar(5)"></span>
                          
                        </div>
                      </div>

                    </div>

                    <div class="item form-group">
                      <label class="col-form-label col-md-3 col-sm-3 label-align" for="item-price">Price <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="item-price" required="required" class="form-control">
                      </div>
                    </div>

                    <div class="item form-group">
                      <label class="col-form-label col-md-3 col-sm-3 label-align" for="item-desc">Long Description 
                      </label>
                      <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="item-desc"required="required" class="form-control">
                      </div>
                    </div>

                    <div class="item form-group">
                      <label class="col-form-label col-md-3 col-sm-3 label-align" for="item-color-name">Color Name 
                      </label>
                      <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="item-color-name" required="required" class="form-control">
                      </div>
                    </div>

                    <div class="item form-group">
                      <label class="col-form-label col-md-3 col-sm-3 label-align" for="item-color-code">Color Code 
                      </label>
                      <div class="col-md-1 col-sm-1">
                        <input type="color" id="item-color-code" required="required" class="form-control">
                      </div>
                    </div>
                    <div class="ln_solid"></div>

                    <div class="item form-group">
                      <label class="col-form-label col-md-3 col-sm-3 label-align" for="item-adding-coupon-code"><span class="required"></span>
                      </label>
                      <div class="col-md-6 col-sm-6 ">
                        <button id="item-adding-coupon-code" class="btn btn-primary" type="button" onclick="createNewCoupon()">Add New Coupon Code</button> </div>
                    </div>

                    <div id="addingcoupon">
                    </div>

                    <div class="ln_solid"></div>
                    <div class="item form-group">
                      <div class="col-md-6 col-sm-6 offset-md-3">
                        <button class="btn btn-primary" type="button" onclick="addNewItem()">Add New Item</button>
                        <button class="btn btn-secondary" type="button">Cancel</button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    {{>admin_scripts}} 
    {{>admin_security}} 

    <script type="text/javascript">
        var couponCodeTab = "";
        var couponCodeTabCount = 0;

        function createNewCoupon() {
          couponCodeTabCount ++;
          couponCodeTab = document.getElementById("addingcoupon").innerHTML;

          couponCodeTab += '<div class="item form-group">';
          couponCodeTab += '<label class="col-form-label col-md-3 col-sm-3 label-align" for="item-coupon-code">Coupon Code<span class="required">*</span>';
          couponCodeTab += '</label>';
          couponCodeTab += '<div class="col-md-6 col-sm-6 ">';
          couponCodeTab += '<input type="text" id="item-coupon-code'+couponCodeTabCount+'" required="required" class="form-control" disabled value='+createRandomKey(6)+'>';
          couponCodeTab += '</div> </div>';
          couponCodeTab += '';
          couponCodeTab += '<div class="item form-group">';
          couponCodeTab += '<label class="col-form-label col-md-3 col-sm-3 label-align" for="item-coupon-type">Coupon Type</label>';
          couponCodeTab += '<div class="col-md-6 col-sm-6 ">';
          couponCodeTab += '<select id="item-coupon-type'+couponCodeTabCount+'" class="form-control" required>';
          couponCodeTab += '<option value="">Choose..</option>';
          couponCodeTab += '<option value="percentage">Percentage</option>';
          couponCodeTab += '<option value="flat">Flat</option>';
          couponCodeTab += '</select>';
          couponCodeTab += '</div> </div>';
          couponCodeTab += '';
          couponCodeTab += '<div class="item form-group">';
          couponCodeTab += '<label class="col-form-label col-md-3 col-sm-3 label-align" for="item-coupon-value">Coupon Value </label>';
          couponCodeTab += '<div class="col-md-6 col-sm-6 ">';
          couponCodeTab += '';
          couponCodeTab += '<input type="text" id="item-coupon-value'+couponCodeTabCount+'" required="required" class="form-control">';
          couponCodeTab += '</div> </div>';

          document.getElementById("addingcoupon").innerHTML = couponCodeTab;
        }
        function addNewItem(){
          let couponarr = [];
          for (var i = 0; i < couponCodeTabCount; i++) {
            smallObj = {
              couponCode: $("#item-coupon-code"+(i+1)).val(),
              couponType: $("#item-coupon-type"+(i+1)).val(),
              couponValue: $("#item-coupon-value"+(i+1)).val(),
            }
            couponarr[i] = smallObj;
          }

          submitObj = {
            name: $("#item-name").val(),
            rating: $("#item-rating").val(),
            price: $("#item-price").val(),
            longDesc: $("#item-desc").val(),
            color: {
              color: $("#item-color-name").val(),
              colorCode: $("#item-color-code").val()
            },
            coupon: couponarr
          };

          $.ajax({
                method: "POST",
                crossDomain: true,
                headers: {"Content-Type": "application/json"},
                url: "/items/insertNewItem",
                dataType: 'json',
                data: JSON.stringify(submitObj),
                success: function (res) {
                  console.log(res);
                  couponCodeTabCount = 0;
                }, error: function (jqXHR, textStatus, errorThrown) {
                  console.log("jqXHR: " + jqXHR.responseText);
                  console.log("textStatus: " + textStatus);
                  console.log("errorThrown: " + errorThrown);
                },
              });
        }
        function createRandomKey(length) {
          let result = '';
          const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
          const charactersLength = characters.length;
          let counter = 0;
          while (counter < length) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
            counter += 1;
          }
          return result;
        }
        function submittedStatus(res) {
          if(res.insert_result.accknowledged){
            // show box in the middle and refresh clear the fills
          }else{
            // show error box
          }
        }
        function addingStar(num){
          for (var i = 1; i <= num; i++) {
            $("#star"+i).addClass("star-checked");
          }
          for (var i = (num+1); i <= 5; i++) {
            $("#star"+i).removeClass("star-checked");
          }
          $("#item-rating").val(num);
        }

    </script>
  </body>
</html>
